.button {
    display: none;

}

.label:hover {
    color: darkblue;
}

.button:checked + .low {
    box-shadow: 0 5px 10px rgba(51, 252, 18, 0.7);
}

.button:checked + .medium {
    box-shadow: 0 5px 10px rgba(255, 205, 6, 0.7);
}

.button:checked + .high {
    box-shadow: 0 5px 10px rgba(204, 51, 0, 0.7);
}

.label {
    width: 76px;
    height: 43px;
    border-radius: 37px;
    font-size: 15px;
    line-height: 18px;
    color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
